<div class="container">
  <h1>View Category</h1>

  <a href="#" routerLink="/category/index" class="btn btn-primary">Back</a>

  <div>
    <strong>ID:</strong>
    <p>{{ category.id }}</p>
  </div>

  <div>
    <strong>Product:</strong>
    <p>{{ category.product }}</p>
  </div>

  <div>
    <strong>Classification:</strong>
    <p>{{ category.classification }}</p>
  </div>
  <div>
    <strong>Quantity:</strong>
    <p>{{ category.quantity }}</p>
  </div>
  <div>
    <strong>Payment Option:</strong>
    <p>{{ category.payment }}</p>
  </div>
</div>
