<div class="container">
  <h1>Update Category</h1>

  <a href="#" routerLink="/category/index" class="btn btn-primary">Back</a>

  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="form-group">
      <label for="product">Product:</label>
      <input
        formControlName="product"
        id="product"
        type="text"
        [(ngModel)]="category.product"
        class="form-control"
      />
      <div
        *ngIf="f['product'].touched && f['product'].invalid"
        class="alert alert-danger"
      >
        <div *ngIf="f['product'].errors && f['product'].errors['required']">
          Product is required.
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="classification">Classification</label>
      <textarea
        formControlName="classification"
        id="classification"
        type="text"
        [(ngModel)]="category.classification"
        class="form-control"
      >
      </textarea>
      <div
        *ngIf="f['classification'].touched && f['classification'].invalid"
        class="alert alert-danger"
      >
        <div
          *ngIf="
            f['classification'].errors && f['classification'].errors['required']
          "
        >
          Classification is required.
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="quantity">Quantity:</label>
      <input
        formControlName="quantity"
        id="quantity"
        type="text"
        [(ngModel)]="category.quantity"
        class="form-control"
      />
      <div
        *ngIf="f['quantity'].touched && f['quantity'].invalid"
        class="alert alert-danger"
      >
        <div *ngIf="f['quantity'].errors && f['quantity'].errors['required']">
          Quantity is required.
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="payment">Payment Option:</label>
      <input
        formControlName="payment"
        id="payment"
        type="text"
        [(ngModel)]="category.payment"
        class="form-control"
      />
      <div
        *ngIf="f['payment'].touched && f['payment'].invalid"
        class="alert alert-danger"
      >
        <div *ngIf="f['payment'].errors && f['payment'].errors['required']">
          Payment Option is required.
        </div>
      </div>
    </div>

    <button class="btn btn-primary" type="submit" [disabled]="!form.valid">
      Update
    </button>
  </form>
</div>
